<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Bienvenida</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-blue-400 to-purple-500 h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-3xl font-semibold mb-6 text-center text-gray-800">¡Bienvenido de nuevo!</h2>
    <div class="mb-8 text-gray-600">
      <p class="mb-2"><span class="font-semibold">Usuario:</span> Usuario123</p>
      <p class="mb-2"><span class="font-semibold">Última Sesión:</span></p>
      <ul>
        <li class="flex justify-between mb-2">
          <span class="font-semibold">Inicio de Sesión:</span>
          <span>01/04/2024 10:30 AM</span>
        </li>
        <li class="flex justify-between mb-2">
          <span class="font-semibold">Fin de Sesión:</span>
          <span>01/04/2024 11:45 AM</span>
        </li>
        <li class="flex justify-between mb-2">
          <span class="font-semibold">Intentos Fallidos:</span>
          <span>2</span>
        </li>
      </ul>
    </div>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md w-full hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Cerrar Sesión</button>
  </div>
</body>
</html>
